div.main {
  min-height: 100vh;
  padding-bottom: 60px;
}

div.full-height {
  min-height: 100vh;
}

a.link-no-style {
  &:hover {
    text-decoration: none;
  }
}

footer {
    display: flex;
    position: relative;
    bottom: 0;
    clear: both;
    background-color: $color-footer;
    color: white;
    width: 100%;
  }

.contact {
    display: flex;
    bottom: 0;;
    clear: both;
    background-color: $color-footer;
    color: white;
    width: 100%;
    text-transform: uppercase;
    justify-content: center;
    letter-spacing: 2px;
  }

  .form-container {
    background-color: white;
    padding: 32px;
    border: 1px solid var(--contact-bdr);
    border-radius: 9px;
    label {
      display: block;
      margin-bottom: 0.5rem;
      color: var(--text-secondary-color);
    }
    input[type=text],
    input[type=email],
    textarea {
      appearance: none;
      border: 1px solid var(--card-shadow);
      color: var(--text-secondary-color);
      border-radius: 6px;
      line-height: 32px;
      padding: 6px 12px;
      width: calc(100% - 24px);
      margin-bottom: 1.5rem;
      background-color: #F5F5F5;
    }
    textarea {
      margin-bottom: 2rem;
      height: 150px;
    }
  }
  .two-grids {
    display: grid;
    grid-gap: 32px;
    &.-contact {
      .post-thumbnail {
        min-height: 240px !important;
      }
    }
  }
  ::placeholder{
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
 }

 input[type=submit]{
   background-color: #85144b;;
 }

 h6{
  text-align: center;
  margin-top: 2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
 }

 iframe{
  width: 100%;
  height: 100%;
  border: 0;
 }