@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "variables";
@import "coursecard";
@import "layout";
@import "navbar";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&family=Open+Sans&display=swap');

$font-family-heading: 'Nunito', sans-serif;
$font-family: 'Open Sans', sans-serif;
/* System Fonts as used by Medium and WordPress */
body {
  font-family: $font-family;
  border-top: 10px solid var(--primary-color);
  background-color: #f8f8f8;;
  color: var(--text-color);
}

.post {
  padding: 0;
  background:var(--background);
  color: var(--text-color);
  line-height: 1.5;
  > .blog-post-content {
    max-width: 768px;
    margin: 0 auto;
  }
  > .blog-post-content *:last-child,
  > *:last-child {
    margin-bottom: 0;
  }
  .post-title {
    text-align: center;
    margin: 0 0 0.5rem;
    line-height: 1.3;
    font-size: 2rem;
    color: white;
  }
    
}
.post-thumbnail {
  text-align: center;
  min-height: 400px;
  //background-image: url('/assets/circles-light.png');
  background-color: var(--featured-bg);
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  border-radius: 18px;
  margin-bottom: 36px;
  color: var(--featured-text);
  display: grid;
  align-content: center;
  position: relative;
  padding: 18px;
  overflow: hidden;
  &:before {
    content: "";
    background: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  > * {
    position: relative;
    z-index: 2;
  }
  .post-meta {
    color: rgba(255,255,255,0.8);
    margin-bottom: 0;
  }
}

h1{
  text-align: center;
  margin: 3rem;
}

h2{
  font-family: $font-family-heading;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: #85144b;
}

h3{
  font-family: $font-family-heading;
  margin-top: 3rem;
}

h4{
  
  margin-top: 2rem;
}

.breadcrum{
  display: flex;
  list-style: none;
  justify-content: center;
  margin-bottom: 20rem;
  a {
    color: white;
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  color: white;
  content: "/ ";
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button4 {background-color: #85144b; color: white;} /* Gray */

.copy{
  color: #FEFEFE;
  font-size: 12px;
}